<div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>Menu</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <h1 style="color: orange; height: 25px; "><i class="icon-font">&#xe003;</i>Operating</h1>
                    <ul class="sub-menu">
                        <li><a href="__MODULE__/article/lst">Article Manage</a></li>         
                        <li><a href="__MODULE__/cate/lst">Category Manage</a></li>          
                        <li><a href="__MODULE__/admin/lst">Administer Manage</a></li>
                        <li><a href="__MODULE__/link/lst">Linking</a></li>
                        
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>