<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Back Management</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>
<!-- Moder header -->
<include file="Public/header"/>
<div class="container clearfix">
    <!-- Moder LeftPanel-->
    <include file="Public/left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/index/index">Home Page</a><span class="crumb-step">&gt;</span><span class="crumb-name">Article Management</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/jscss/admin/design/index" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">Choose UI:</th>
                            <td>
                                <select name="search-sort" id="">
                                    <option value="">ALL</option>
                                    <!-- <option value="19"></option><option value="20">推荐界面</option> -->
                                </select>
                            </td>
                            <th width="70">Key:</th>
                            <td><input class="common-text" placeholder="" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="SEARCH" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" action="__CONTROLLER__/sort" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__CONTROLLER__/add"><i class="icon-font"></i>Add Article</a>
                        <!-- Sort Button -->
                       <!--  <a id="updateOrd" href="__CONTROLLER__/sort"><i class="icon-font"></i><input class="btn btn-primary btn2"  type="submit" value="SORT"/></a> -->
                        
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr> 
                            <th>ID</th>
                            <th>Article Name</th>
                            <th>Article Desc</th>
                            <th>Article Picture</th>
                            <th>Article Category</th>
                            <th>Operating</th>
                        </tr>
                        <!-- Dynamic create the table row -->
                        <volist name="articleres" id="vo" >
                        <tr>
                            <td >{$vo.id}</td>
                            <!-- Article title -->
                            <td  title="{$vo.title}">{$vo.title}</td>
                            <!-- Article description -->
                            <td  title="{$vo.desc}"><a target="_blank" href="#" title="{$vo.article_desc}">{$vo.article_desc}</a></td>
                            <!-- Article picture -->
                            <td  title="{$vo.pic}">
                                <!-- If condition to show the image or not -->
                                <if condition="$vo.pic neq ''">
                                    <img src="__ROOT__{$vo.pic}" height="50" width="50">
                                <else/>
                                    No Image
                                </if>
                            </td>
                            <!-- Category ID -->
                            <td  title="{$vo.cateid}"><a target="_blank" href="#" title="{$vo.cateid}">{$vo.cateid}</a></td>
                            <!-- Operating -->
                            <td>
                                <a class="link-update" href="__CONTROLLER__/edit/id/{$vo.id}">Edit</a>
                                <a class="link-del" onclick="return confirm('Do You Really Want to Delete?');" href="__CONTROLLER__/del/id/{$vo.id}">Delete</a>
                            </td>
                        </tr>
                       </volist>

                    </table>
                    <div class="list-page">{$page}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>